/* main background color #F5F5F5 */
/* header/footer background #2F303A */
/* main text color #212121 */
/* accent color  #2196F3 */
body {
  background-color: #ffffff;
}

button {
  color: ;
  box-shadow: ;
  border-radius: ;
}

.logo {
  color: #2196f3;
}

.logo-black {
  color: #000000;
}

.logo-white {
  color: #ffffff;
}
