/* main background color #FFFFFF*/
/* header/footer background #2F303A */

/* main text color #212121 */
/* second text color  #757575 */
/* section class="team" background color #F5F4FA */
/* class="logo" font-family: 'Raleway', sans-serif; */
/* link tel-mail footer color: rgba(255, 255, 255, 0.6); */
/* accent button #2196F3 */

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #212121;
}

/* removing link markers */
.style {
  list-style: none;
}

/* site nav */
.logo {
  font-family: 'Raleway', sans-serif;
  color: #2196f3;
}

.logo-black {
  color: #000000;
}

.nav-link {
  color: #212121;
}

.nav-link:hover,
.nav-link:focus {
  color: #2196f3;
}

.contacts-link {
  color: #757575;
}

.contacts-link:hover,
.contacts-link:focus {
  color: #2196f3;
}

/* hero */
.hero-title {
  color: #ffffff;
}

.primary-button {
  color: #212121;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.primary-button:hover,
.primary-button:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* features */
/* .features .title{
h2 hidden!!!
} */

/* footer */
.logo-white {
  color: #ffffff;
}

.title {
  color: #212121;
}
